<%= content_for :page_title, t("base.passwords.password_reset_success.heading") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <%= t('base.passwords.password_reset_success.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('base.passwords.password_reset_success.lead') %>
    </p>

    <%= link_to t('common.sign_in'), local_new_user_session_path, id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7", 'aria-label': "#{t('common.sign_in')}" %>

  </div>
</div>
