.cookie-message {
  background: #FCFAF7;
  margin-top: 0;
}

.cookie-message__inner {
  padding: 0.375rem 1.25rem 0 1.25rem;
}

.cookie-accepted-message__inner {
  padding: 0.375rem 1.25rem 0.375rem 1.25rem;
}
.ccs-inset-text--success {
	background-color: #F0FFF1; 
	border-left:4px solid #006435;	
}
