@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "govuk-frontend/govuk/all";
@import "accessible-autocomplete";

body, h1, h2, h3, h4, h5, a, .govuk-footer, 
.govuk-heading-xl, .govuk-label--m, 
.govuk-label--s, .govuk-label--xl, 
.govuk-hint, .govuk-error-summary__title,
.govuk-error-message, .govuk-header__navigation-item a,
.govuk-input, .govuk-heading-l, .govuk-body-m, .govuk-body,
.govuk-heading-m, .govuk-button, .govuk-link, govuk-heading-m,
.govuk-header__link--service-name, .govuk-list,
.govuk-header__link--homepage, .govuk-header, .govuk-body-s {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif
}
.govuk-header {
  background-color: #9B1A47;
}
.govuk-footer {
  padding-top: 0px;
  background-color: #2F2F31;
    color: #ffffff;
    a {
      color: #ffffff;
    }  
}

#main-footer .footer-feedback {
    background-color: #eeeeee;
    margin-top: -5px;
}

.govuk-footer__container {
  padding: 30px 0px;
}
.govuk-header__logotype-crown {
  color: #ffffff;
  height: 113px;
  width: 140px;
}
.govuk-button {
  border-radius: 3px;
  color: #ffffff;
  background-color: #007E8A;
  font-weight: 600;
  -webkit-box-shadow: 0 3px 0 #00383e;
  box-shadow: 0 3px 0 #00383e;
  min-width: 115px;
  padding-top: 9px;
  padding-bottom: 8px;
}

#passwordrules li.correct {
  color: #006435;
}

#passwordrules li.correct span {
  background-image: url("data:image/svg+xml,%3Csvg height='15' viewBox='0 0 19 15' width='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m43.6740506 1353.95951 9.8607595-9.95951 2.4651899 2.55061-12.3259494 12.44939-6.6740506-6.74089 2.5253165-2.55061z' fill='%23006435' fill-rule='evenodd' transform='translate(-37 -1344)'/%3E%3C/svg%3E");
}

#passwordrules li.wrong {
  color: #b10e1e;
}

#passwordrules li.wrong span {
  background-image: url("data:image/svg+xml,%3Csvg height='14' viewBox='0 0 14 14' width='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m46 1385.41176-4.5882353 4.58824-2.4117647-2.41176 4.5882353-4.58824-4.5882353-4.58824 2.4117647-2.41176 4.5882353 4.58824 4.5882353-4.58824 2.4117647 2.41176-4.5882353 4.58824 4.5882353 4.58824-2.4117647 2.41176z' fill='%23b10e1e' fill-rule='evenodd' transform='matrix(-1 0 0 1 53 -1376)'/%3E%3C/svg%3E");
}

#passwordrules li.correct span:first-child, #passwordrules li.wrong span:first-child {
  position: relative;
  top: 0.2rem;
}

#passwordrules li.correct span:first-child b, #passwordrules li.wrong span:first-child b {
  position: absolute;
  left: -3000px;
  top: -3000px;
}

#passwordrules li span {
  display: inline-block;
  background-image: none;
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

#passwordrules li span b {
  display: inline-block;
  margin-right: 0.3rem;
  width: inherit;
  height: inherit;
}

abbr[title] {
    text-decoration: none;
}

.pmp-logo svg {
  width: 150px;
  height: 150px;
}

.govuk-header__content {
  display: block;
  text-align: right;
  margin-top: 2rem;
}

.govuk-header__link--service-name {
  font-weight: 600;
  font-size: 1.5rem;
}

.govuk-header__navigation-item a {
  font-weight: 400;
}

.govuk-heading-xl, .govuk-heading-l {
  font-weight: 300;
  margin-bottom: 36px;
  line-height: 1.15;
  color: #0b0c0c;
}

.govuk-label {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.25;
  color: #0b0c0c;
  display: block;
  margin-bottom: 5px;
}

.govuk-hint {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  color: #6f777b;
}

.govuk-body-l, .govuk-body-lead {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.govuk-header__container {
  border-bottom: none;
  margin-bottom: 0;
  padding: 20px 0 10px 0;
}

.govuk-label--m {
  line-height: 2;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.5rem;
}
.govuk-error-summary__list a {
  font-weight: 600;

}

.govuk-error-summary__list a:active, .govuk-error-summary__list a:hover, .govuk-error-summary__list a:link, .govuk-error-summary__list a:visited {
  color: #d4351c;
}
.pm-font-weight-semi-bold {
  font-weight: 600;
}

.govuk-header__navigation-item a {
  font-size: 19px;
}

.ccs-remove {
  display: block;
  position: absolute;
  left: -3000px;
  top: -3000px;
}

.govuk-button:hover {
  background-color: #006771;
}

.ga-support-mailto {
  color: #007194 !important;
}

.govuk-header__navigation .govuk-header__navigation-item {
  border-bottom: none;
}

.js-enabled .govuk-header__navigation {
  display: inline-block;
}

.error-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error-content {
  flex: 1 0 auto;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

a.ccs-footer__links {
  background: none;
  border: 0;
  box-shadow: none;
  font-family: $govuk-font-family;
  font-weight: $govuk-font-weight-regular;
  color: #FFF;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    &:hover {
      text-decoration: none;
    }
  }
}

.govuk-footer__meta {
  justify-content: flex-start;
}

.govuk-footer__meta-item {
  margin-top: 15px;
}

.govuk-footer__container {
  padding: 15px 0;
}

.govuk-footer__logotype svg {
  width: 110px;
  height: 90px;
}

@media (min-width: 641px) {

  .govuk-footer__logotype svg {
    width: 140px;
  }

  .govuk-footer__logotype svg,
  .govuk-footer__meta {
    height: 113px;
  }

  .govuk-footer__meta {
    justify-content: flex-end;
  }

  .govuk-footer__meta-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-footer__container {
    padding: 30px 0;
  }
}