<div class="footer-feedback govuk-!-padding-1">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-!-margin-bottom-0 govuk-body-s">
          <strong class="govuk-!-font-weight-bold"><%= t('.having_problems') %></strong>
          <%= t('.support_html', link: link_to(t('.contact_us'), t('.contact_us_link'), class: 'govuk-link--no-visited-state', target: :blank)) %>
        </p>
      </div>
    </div>
  </div>
</div>
