      <div class="govuk-footer__container govuk-width-container">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <span class="govuk-footer__logotype">
              <%= render partial: '/layouts/logotype' %>
            </span>
          </div>
        </div>
      </div>

