      <div class="footer-feedback govuk-!-padding-1">
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <p class="govuk-!-margin-bottom-0 govuk-body-s">
                <span class="govuk-!-font-weight-bold">Having problems with this service?</span>
                Email <a class="govuk-link ga-support-mailto" aria-label="Email us for support with this service" href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a> or call 0345 410 2222 for support.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-footer__container govuk-width-container">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <span class="govuk-footer__logotype">
              <%= render partial: '/layouts/logotype' %>
            </span>
          </div>
        </div>
      </div>

