<div class="footer-feedback govuk-!-padding-1">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-!-margin-bottom-0 govuk-body-s">
          <span class="govuk-!-font-weight-bold"><%= t('.having_problems_with_this_service') %></span>
          <%= t('.email_or_call_html', email: mail_to(t('.email'), t('.email'), class: 'govuk-link ga-support-mailto', aria: { label: t('.email_aria_label') } ), phone: t('.telephone')) %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="govuk-footer__container govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <span class="govuk-footer__logotype">
        <%= render partial: '/layouts/logotype', locals: { alt_tex: t('.crown_commercial_service_logo') } %>
      </span>
    </div>

    <nav class="govuk-grid-column-two-thirds" aria-label="Footer navigation">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item">
          <%= link_to t(".accessibility_statement_link"), accessibility_statement_path, class: "ccs-footer__links ccs-no-print", aria: { label: t('.accessibility_statement_link_aria_label') } %>
        </div>
      </div>
    </nav>
  </div>
</div>
