<div class="govuk-header__logo">
  <a href="https://www.crowncommercial.gov.uk/" class="govuk-header__link govuk-header__link--homepage ga-crown-logo " aria-label="Crown Commercial Service homepage">
    <span class="govuk-header__logotype">
      <%= render partial: '/layouts/logotype', locals: { alt_tex: nil } %>
    </span>
  </a>
</div>